In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("Data/titanic.csv")

In [ ]:
df

### Ejercicio 1:
- Agrupa los datos por la columna `Sex` y calcula:
    - Porcentaje de supervivientes para cada sexo.
    - Edad promedio para cada sexo.
    - La mediana del precio del ticket para cada sexo.

In [ ]:
df.groupby("Sex")[["Survived"]].mean(numeric_only=True)

In [ ]:
df.groupby("Sex")[["Age"]].mean(numeric_only=True)

In [ ]:
df.groupby("Sex")[["Fare"]].median(numeric_only=True)

### Ejercicio 2:
- Agrupa los datos por la columna `Pclass` y calcula:
    - El porcentaje de supervivientes por cada clase.
    - Edad promedio para cada sexo.
    - La mediana del precio del ticket para cada sexo.

In [ ]:
df.groupby("Pclass")[["Survived"]].mean(numeric_only=True)

In [ ]:
df.groupby("Pclass")[["Age"]].mean(numeric_only=True)

In [ ]:
df.groupby("Pclass")[["Fare"]].median(numeric_only=True)

### Ejercicio 3:
- Crea una columna nueva `age_interval` y llénala con valores del 0 al 3, dependiendo de la edad del pasajero:
    - 0 : menores de 18 años
    - 1 : de 18 años a 32 años 
    - 2 : de 32 años a 60 años
    - 3 : mayores a 60 años
- Agrupa los datos por `age_interval` y obtén para cada grupo de edad:
    - Porcentaje de supervivientes
    - Distribución de sexos
    - Distribución de clases
    - Precio mediano de los tickets

In [ ]:
def intervalos_edad(edad):
    if edad < 18:
        return 0
    if edad < 32:
        return 1
    if edad < 60:
        return 2
    return 3

df["age_interval"] = df["Age"].apply(intervalos_edad)

In [ ]:
df.groupby("age_interval")[["Survived"]].mean()

In [ ]:
df.groupby("age_interval")[["Sex"]].value_counts()

In [ ]:
df.groupby("age_interval")[["Pclass"]].value_counts()

In [ ]:
df.groupby("age_interval")[["Fare"]].median()